@font-face {
  font-family: "AlibabaPuHuiTi-Regular";
  src: url("./fonts/AlibabaPuHuiTi-2-55-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AlibabaPuHuiTi-2-65-Medium";
  src: url("./fonts/AlibabaPuHuiTi-2-65-Medium.otf") format("truetype");
}

@font-face {
  font-family: "PangMenZhengDao";
  src: url("./fonts/PangMenZhengdao.ttf") format("truetype");
}
